/* _________ CHOCOLATE _________ */

@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&family=League+Gothic&family=Raleway:ital,wght@0,100..900;1,100..900&family=Yaldevi:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --Marron_clarito: #FEFFF1;
    --Marron_oscuro: #4C3E30;
    --titulos_tipo: 'Bebas Neue';
    --menu_tipo: 'Yaldevi';
    --texto_tipo: 'Roboto';
    --rojo_oscuro: #520100;
}


/* ______APARTADO DELEITAMOS TU PALADAR ______ */


.hero-section-choco {
  background-color: var(--Marron_clarito);
  min-height: 74vh;
  color: var(--Marron_oscuro);
  display: block; /* cambia esto */
  padding: 4rem 0;
}

.hero-section-choco .text-section {
  padding: 2rem;
  text-align: justify;
}

.hero-section-choco h1 {
  font-size: 2rem;
  letter-spacing: 0.15rem;
  font-family: var(--titulos_tipo);
  color: var(--rojo_oscuro);
  margin-bottom: 1.5rem;
}

.hero-section-choco p {
  font-size: 1rem;
  text-align: justify;
  color: var(--Marron_oscuro);
}

.hero-section-choco .image-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section-choco img {
  width: 85%;
  height: auto;
  border-radius: 2rem;
  object-fit: cover;
}


/* ______ APARTADO MARCAS CHOCO ______ */

.img-choco {
    display: flex;
    align-items: center;
    justify-content: center;
}

.marcas-choco {
  text-align: center;
  padding: 12rem 2rem;
  background-color: var(--Marron_oscuro);
  color: var(--Marron_clarito);
}

.marcas-choco h1 {
  font-family: var(--titulos_tipo);
  letter-spacing: 0.15rem;
  margin-bottom: 1rem;
  font-size: 4rem;
}

.marcas-choco h3 {
  font-weight: 400;
  margin-bottom: 3rem;
  font-size: 1rem;
}

.marcas-choco .col-md-4 {
  display: flex;
  justify-content: space-around;  
  align-items: center;      
  flex-wrap: nowrap;         
  gap: 1.5rem;              
}

.marcas-choco img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 1.5rem;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.marcas-choco img:hover {
  transform: scale(1.05);
}


/* ______ APARTADO CACAO SOSTENIBLE ______ */

.hero-section-choco-sost {
  background-color: var(--Marron_clarito);
  min-height: 74vh;
  display: flex;
  align-items: center;
}

.hero-section-choco-sost h1 {
    color: var(--rojo_oscuro);
    padding-left: 4rem;

}

.hero-section-choco-sost p {
    color: var(--Marron_oscuro);
    padding-left: 4rem;

}

.hero-section-choco-sost .text-section {
  padding: 2rem;
  text-align: justify;
}

.hero-section-choco-sost img {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  object-fit: cover;
}
