/* _________ EXTRAFINO _________ */


@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&family=League+Gothic&family=Raleway:ital,wght@0,100..900;1,100..900&family=Yaldevi:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --Marron_clarito: #FEFFF1;
    --Marron_oscuro: #4C3E30;
    --titulos_tipo: 'Bebas Neue';
    --menu_tipo: 'Yaldevi';
    --texto_tipo: 'Roboto';
    --rojo_oscuro: #520100;
}

/* ______ TARJETAS DE LOS CHOCOLATES _____ */

.extrafino-elegir {
    background-color: var(--Marron_oscuro);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* TITULO Y TEXTO */

.extrafino-elegir h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-family: var(--titulos_tipo);
}

/* HOVER CHOCOLATES */

.extrafino-elegir img {
  object-fit: cover;
  border-radius: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.extrafino-elegir img:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  transform: scale(1.08);
  filter: brightness(1.1) contrast(1.05);
}


.extrafino-elegir a:hover img {
  transform: scale(1.07);
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
  filter: brightness(1.1) contrast(1.05);
}
