







/* ______ MEDIA QUERY EXTRAFINO ______ */

@media (min-width: 768px) and (max-width: 991px) {

 /* ___ EXTRAFINO ___ */
 .extrafino-elegir h1 {
  font-size: 3.5rem;
}

}



@media (max-width: 766px) {

.extrafino-elegir h1 {
  font-size: 3rem;
}


}

@media (max-width: 575px) {

  .extrafino-apetecer h1 {
    font-size: 3rem;
  }

  .btn-cards-extrafino {
    margin-bottom: 2rem;
  }

}


@media (max-width: 400px) {




}



