

/* _________ HOMEPAGE _________ */




/* ______ MEDIA QUERY HOMEPAGE ______ */






@media (max-width: 766px) {

  /* ___ TARJETAS HOME ___ */

 .card-home img {
    margin: 0rem;
  }

  .tarjetas-home .card-home {
    height: 95%;
  }

  .card-title-home {
    padding-top: 1rem;
  }

  /* ___ ALIMENTANDO FUTURO SOSTENIBLE - HOMEPAGE ___ */

  .hero-section h1 {
    padding-top: 4rem;
    padding-right: 0rem;
  }

  .hero-section p {
    padding-right: 0rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .hero-section img {
    width: 68%;
    padding-bottom: 3rem;
  }

  .our-marcas-home {
    font-size: 3rem;
  }

  .logos {
    padding: 6rem;
  }

}

@media (max-width: 575px) {

  /* ___ ALIMENTANDO FUTURO SOSTENIBLE - HOMEPAGE ___ */

  .hero-section h1 {
    padding-left: 1rem;
  }
  
  .hero-section p {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero-section img {
    padding-left: 2rem;
  }

  .row>* {
    padding-right: 0rem;
    padding-left: 0rem;
  }

}


@media (max-width: 400px) {

  /* ___ ALIMENTANDO FUTURO SOSTENIBLE - HOMEPAGE ___ */

  .hero-section img {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /* ___ LOGOS HOMEPAGE ___ */

  .logos:before, .logos:after {
    width: 0px;
  }

}






