@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&family=League+Gothic&family=Raleway:ital,wght@0,100..900;1,100..900&family=Yaldevi:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --Marron_clarito: #FEFFF1;
    --Marron_oscuro: #4C3E30;
    --titulos_tipo: 'Bebas Neue';
    --menu_tipo: 'Yaldevi';
    --texto_tipo: 'Roboto';
}

body {
    background-color: var(--Marron_clarito);
}

/* MENU  */

.navbar {
    background-color: var(--Marron_clarito);
}

.logo_nestle{
    width: 10vh;
}

.navbar .nav-link{
    color: var(--Marron_oscuro);
    font-size: 0.9rem;
    font-family: var(--menu_tipo);
    margin-right: 1rem;
    position: relative;
    font-weight: 600;
}

.navbar .navbar-brand{
    font-size: 2rem;
    font-family: var(--titulos_tipo);
    color: var(--Marron_ocsuro);
}

.offcanvas-header {
    background-color: var(--Marron_clarito);
}

.offcanvas-body {
    background-color: var(--Marron_clarito);
}

.offcanvas-title {
    font-size: 1.5rem;
    font-family: var(--titulos_tipo);
    color: var(--Marron_oscuro);
}

.fa-solid {
    color: var(--Marron_oscuro);
    font-size: 1.3rem;
    opacity: none;
}

.btn-close {
    color: var(--Marron_oscuro);
    --bs-btn-close-bg:none;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon{
    color: var(--Marron_clarito);
}


