@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bebas+Neue&family=League+Gothic&family=Raleway:ital,wght@0,100..900;1,100..900&family=Yaldevi:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --Marron_clarito: #FEFFF1;
    --Marron_oscuro: #4C3E30;
    --titulos_tipo: 'Bebas Neue';
    --menu_tipo: 'Yaldevi';
    --texto_tipo: 'Roboto';
    --rojo_oscuro: #520100;
}

body {
    background-color: var(--Marron_clarito);
}

/* MENU  */

.navbar {
    background-color: var(--Marron_clarito);
}

.logo_nestle{
    width: 10vh;
}

.navbar .nav-link{
    color: var(--Marron_oscuro);
    font-size: 0.9rem;
    font-family: var(--menu_tipo);
    margin-right: 1rem;
    position: relative;
    font-weight: 600;
}

.navbar .nav-link:hover{
    color: var(--rojo_oscuro);
    font-size: 1.1rem;
}

.navbar .navbar-brand{
    font-size: 2rem;
    font-family: var(--titulos_tipo);
    color: var(--Marron_ocsuro);
}

.fixed-top{
    position: fixed;
}

.offcanvas-header {
    background-color: var(--Marron_clarito);
}

.offcanvas-body {
    background-color: var(--Marron_clarito);
}

.offcanvas-title {
    font-size: 1.5rem;
    font-family: var(--titulos_tipo);
    color: var(--Marron_oscuro);
}

.fa-solid {
    color: var(--Marron_oscuro);
    font-size: 1.3rem;
    opacity: none;
}

.btn-close {
    color: var(--Marron_oscuro);
    --bs-btn-close-bg:none;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon{
    color: var(--Marron_clarito);
}


/* VIDEO PRINCIPAL DE LAS DIFERENTES PÁGINAS */

/* video + headrer  */

.contenedor-video {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.letra-video {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--Marron_clarito);
    transform: translate(-50%, -50%);
    text-align: center;
}

.letra-video h1{
    font-family: var(--titulos_tipo);
    font-size: 13rem;
    height: 12rem;
    line-height: 1;
  opacity: 0;
  transform: translateY(30px) scale(0.95);
  will-change: transform, opacity;
}

#texto-pequeño-video {
    font-family: var(--texto_tipo);
}






/* _________ HOMEPAGE _________ */











/* _________ MARCAS _________ */











/* _________ CHOCOLATE _________ */









/* _________ EXTRAFINO _________ */





